<div class="depot_form">

	<%= form_tag do %>
		<fieldset>
			<legend>Please Log In</legend>
			
			<% if flash[:alert] %>
				<script>
					$('legend').after("<h2></h2>");
					$('h2').html("<%= flash[:alert] %>");
					$('h2').hide();
					$('h2').slideDown(600);
					
					$('h2').click(function() {
					  $('h2').slideUp(200)
					});
				</script>
			<% end %>
			
			<div>
				<label for="name">Name:</label>
				<%= text_field_tag :name, params[:name] %>
			</div>
			
			<div>
				<label for="password">Password:</label>
				<%= password_field_tag :password, params[:password] %>
			</div>
			
			<div>
				<%= submit_tag "Login" %>
				<span style="padding-left:130px"><%= link_to '{Back}', polls_path %></span>
			</div>
		</fieldset>
	<% end %>

</div>