<% if flash[:notice] %>
	<script>
		$('h1').after("<h3></h3>");
		$('h3').html("<%= flash[:notice] %>");
		$('h3').hide();
		$('h3').slideDown(600);
		
		$('h3').click(function() {
		  $('h3').slideUp(200)
		});
	</script>
<% end %>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @user.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
