<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div style="display:inline">
  <div class="field">
	<%= f.label "Title" %><br />
    <%= f.text_field :prefix, :size => 5 %>
  </div>
  <div class="field">
    <%= f.label :first %><br />
    <%= f.text_field :first_name, :size => 20 %>
  </div>
  <div class="field">
    <%= f.label :last %><br />
    <%= f.text_field :last_name, :size => 20 %>
  </div>
</div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :rows => 3, :cols => 40 %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone_number, :size => 10 %>
  </div>
  <div class="field">
	<%= f.label :delivery_date %><br />
	<%= f.text_field :date_of_delivery, :size => 10 %>(eg. 7/21/13)
  </div>
  <div class="field">
	<%= f.label :delivery_time %><br />
	<%= f.text_field :delivery_time, :size => 10 %>(eg. 4pm)
  </div>
  <div class="field">
    <%= f.label :pay_type %><br />
    <%= f.select :pay_type, Order::PAYMENT_TYPES, 
						:prompt => 'Select a payment method' %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Place Order'%>
  </div>
<% end %>
