
<% if flash[:error] %>
	<div id="cartNotice"></div>
	<script>
		$('#cartNotice').hide();
		$('#cartNotice').append("<%= flash[:error] %>");
		$('#cartNotice').show("blind", 600);
		
		$('#cartNotice').click(function() {
		  $('#cartNotice').hide('blind',300)
		});
	</script>
<% end %>

<div class="cart_title">Your Cart</div>
<table>

 <%=render(cart.line_items) %>
 
 <tr id="total_line">
  <td colspan="2">Total</td>
  <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
 </tr>
 
</table>
<%= button_to 'Checkout', new_order_path, :method => :get %>
<%= button_to 'Empty Cart', cart, :method => :delete, :confirm => 'Are you sure?'%>
