<h1>Select Items</h1>

<% if notice %>
<p id="notice"><%= notice  %></p>
<%  end %>

<% @products.each do |product| %>
 <div class="entry">
   <h3><%= product.title %> </h3>
   <%= image_tag(product.image_url)%>
   <div style="display: none; width: 10px"><%= sanitize(product.description) %></div>
   <div class="price_line">
     <span class="price"><%= number_to_currency(product.price) %></span>(<%= product.unit_of_measure%>)
	 <br>
	 <%= button_to('Add to Cart', line_items_path(:product_id => product), :remote => true) %>
   </div>
 </div>
   <p>
<%  end %>
