<div id="storeWrapper" style="width:95%">
	<h1>Select Items</h1>
	
<% if flash[:notice] %>
	<script>
		$('h1').after("<h3></h3>");
		$('h3').html("<%= flash[:notice] %>");
		$('h3').hide();
		$('h3').slideDown(600);
		
		$('h3').click(function() {
		  $('h3').slideUp(400)
		});
	</script>
<% end %>

	<div id="storeItems">
		<% @products.each do |product| %>
			<div id="itemBox" class="entry ui-draggable" data-id="<%= product.id %>" data-title="<%= product.title %>">
				<div><b><%= product.title %></b><%= button_to(' ', line_items_path(:product_id => product), :class => "addItem", :remote => true) %></div>
					<span>
					   <%= image_tag(product.image_url )%>
					   <div class="price_line">
						 <span class="price"><%= number_to_currency(product.price)%></span>
							(<%= product.portion_size%> <%= product.unit_of_measure%>)			 
					   </div>
					</span> 
				 <div class="itemMagnify"></div>
			</div>
			<p>
		<%  end %>
	</div>
	
	<div id="storeItemZoom">
		<% @products.each do |product| %>
			<div id="itemBoxZoom" data-id="<%= product.id %>" data-title="<%= product.title %>">
				<table>
					<tr>
						<td><%= image_tag(product.image_url )%></td>
						<td><span><%= sanitize(product.description) %></span></td>
					</tr>
				</table>
				<div class="price_line">
					<span class="price"><%= number_to_currency(product.price)%></span>
					(<%= product.portion_size%> <%= product.unit_of_measure%>)			 
				</div>
			<div class="itemMagnify"></div>
			</div>
			<p>
		<%  end %>
	</div>
</div>