<!DOCTYPE html>
<html>
<head>
  <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>ReciPower Store Front</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag 'recipower', 'landingPage', :media => "all" %><!-- <label id="code.slt"/> -->
  <%= stylesheet_link_tag 'jquery-ui-1.10.3.custom.min', 'jquery-ui-1.10.3.custom', :media => "all" %>
  <!-- END:stylesheet -->
  <%= javascript_include_tag 'jquery-1.9.1', 'jquery-ui-1.10.3.custom.min', 'jquery-ui-1.10.3.custom', 'application', 'navigate' %>
  
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->
  <meta name="Description" content="ReciPower is an app that empowers each health-seeking individual with a dynamic new tool to plan healthy meals in less than 5 minutes on a budget." />
  <meta name="Keywords" content="recipower, healthy recipes, nutrition, healthy meals, dinner" />
  
  <script type="text/javascript">
  var _gaq = _gaq || [];
  var pluginUrl = 
  '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
 _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
 
  _gaq.push(['_setAccount', 'UA-40438353-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
 <div id="store" style="min-height:100%">
  <div id="columns">
	<div id="side" style="min-height:100%">
		<%= image_tag("logo.png") %>

		<div id="adminOptions" style="min-height:100%">	
		<br>		
		  <% if session[:user_id] %>
		  <ol class="adminClass">
			<li onclick="javascript:location.href='/store/index'">Select Items</li><br/>
			<li onclick="javascript:location.href='/products'">Edit Items</li><br/>
			<li onclick="javascript:location.href='/orders'">Order History</li><br/>
			<li onclick="javascript:location.href='/users'">Admins</li><br/>
			<li onclick="javascript:location.href='/polls_show'">Waiting List</li><br/>
		  </ol>
			<br>
			<%= button_to 'Logout', logout_path, :method => :delete %>
			<div style="min-height:100%"></div><!--extend column whitespace-->
			<% else %>
		  <script>$('#side').hide()</script>
		  <% end %>
		</div>
		<br>				

		<%= form_tag store_show_path, :method => :get do%>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name => nil %>
		</p>
		<% end %>
		
		<div id="cart">
		<%if @cart%>
			<% if @cart.line_items.all %>
				<%= render @cart %>
			<% end %>
		<% end %>
		 <br>
		</div>	
	
    </div>
				  
    <div id="main">
		<% if session[:user_id] %>
			<script>$('#main').css("margin-left", "0px")</script>
		<% end %>
		<%= yield %><!-- <label id="code.depot.e.include"/> -->
    </div>
  </div>
  </div>
</body>
</html>
