<!DOCTYPE html>
<html>
<head>
  <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>ReciPower Store Front</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag 'recipower', 'landingPage', 'counters', 'newOrder', :media => "all" %><!-- <label id="code.slt"/> -->
  <%= stylesheet_link_tag 'jquery-ui-1.10.3.custom.min', 'jquery-ui-1.10.3.custom', :media => "all" %>
  <%= stylesheet_link_tag 'print', :media => "print" %>
  <!-- END:stylesheet -->
  <%= javascript_include_tag 'jquery-1.9.1', 'jquery-ui-1.10.3.custom.min', 'jquery-ui-1.10.3.custom',  'jquery.maskedinput', 'application', 'navigate', 'clocks' %>
  
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->
  <meta name="Description" content="ReciPower is an app that empowers each health-seeking individual with a dynamic new tool to plan healthy meals in less than 5 minutes on a budget." />
  <meta name="Keywords" content="recipower, healthy recipes, nutrition, healthy meals, dinner" />
  
  <script type="text/javascript">
  var _gaq = _gaq || [];
  var pluginUrl = 
  '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
 _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
 
  _gaq.push(['_setAccount', 'UA-40438353-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
 <div id="store" style="min-height:100%">
  <div id="columns">
	<div id="side" style="min-height:100%">
		<span id="sideLogo"><%= image_tag("logo.png") %></span>

		<div id="adminOptions" style="min-height:100%">	
			<br>		
			<% if session[:user_id] %>
				<ol class="adminClass">
					<li onclick="javascript:location.href='/products'">Edit Items</li><br/>
					<li onclick="javascript:location.href='/orders'">Order History</li><br/>
					<li onclick="javascript:location.href='/users'">Admins</li><br/>
					<li onclick="javascript:location.href='/polls_show'">Waiting List</li><br/>
				</ol>
				<br>
				<%= button_to 'Logout', logout_path, :method => :delete %>
				<div style="min-height:100%"></div><!--extend column whitespace-->
			<% else %>
			  <script>$('#side').hide()</script>
			<% end %>
		</div>
		<br>
		<ol class="adminClass shopper">
			<li onclick="javascript:location.href='/store/index'">Select Items</li><br/>
		</ol>
		<%= form_tag store_show_path, :method => :get do%>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name => nil %>
		</p>
		<% end %>
		
		<div id="cart">
		<%if @cart%>
			<% if @cart.line_items.all %>
				<%= render @cart %>
			<% end %>
		<% end %>
		 <br>
		</div>	
	
    </div>
	
	<div id="mainContainer">
		<div id="counterBG1" class="counterBG"><%= 5 - Order.where(:date_of_delivery => @day0).count %></div>
		<div id="counterClock">
			<script type="text/javascript">updateClock();</script><div id="counterNeedle"></div>
		</div>
		<div id="counterOverlay" class="counterBG"></div>
		<div id="postItNotes1" class="postItNotes"></div>
			<div id="counterBG2" class="counterBG"><span><%= 5 - Order.where(:date_of_delivery => @day1).count %></span></div>
			<div id="postItNotes2" class="postItNotes"></div>
				<div id="counterBG3" class="counterBG"><span><%= 5 - Order.where(:date_of_delivery => @day2).count %></span></div>
				<div id="postItNotes3" class="postItNotes"></div>
				<div id="main">
					<% if session[:user_id] %>
						<script>$('#main').css("width", "310%")</script>
					<% else %>
						<script>$('#main').css("width", "410%")</script>
					<% end %>
					<%= yield %><!-- <label id="code.depot.e.include"/> -->
				</div>
	</div>
  </div>
  </div>
</body>
</html>
